@charset 'utf-8';

@import '~nord/src/sass/nord.scss';

// Copied from:
//      https://github.com/sereneblue/nord-bulma/blob/master/sass/_colors.scss
$orange:    $nord12;
$yellow:    $nord13;
$green:     $nord14;
$turquoise: $nord8;
$cyan:      $nord9;
$blue:      $nord10;
$purple:    $nord15;
$red:       $nord11;

// Copied from:
//      https://github.com/sereneblue/nord-bulma/blob/master/sass/nord-bulma-dark.scss
$black:     $nord4;
$black-bis: darken($nord4, 10%);
$black-ter: darken($nord4, 20%);

$white-ter: $nord2;
$white-bis: lighten($nord1, 2%);
$white:     $nord0;
$body-background-color: #242933;

$grey-darker:   $nord4;
$grey-dark:     mix($nord4, $nord5);
$grey:          $nord5;
$grey-light:    mix($nord5, $nord6);
$grey-lighter:  $nord6;

$yellow-invert:     rgba($white, 0.7);
$primary-invert:    rgba($white, 0.7);

// Custom
$link:  lighten($blue, 30%);

@import '~bulma/bulma.sass';
